.doc-nav {
  background-color: rgba(66, 66, 84, .9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  overflow: auto;
}

@media screen and (min-width: 25em) {
  .doc-nav {
    width: 25em;
  }
}

.doc-nav-list {
  box-sizing: border-box;
  padding: 4em 2em 2em 4em;
  list-style: square;
}

.doc-nav-list li {
  line-height: 2em;
  font-size: 1.2em;
}

.doc-nav-close {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, .8);
  padding: 0;
  position: absolute;
  left: 2em;
  top: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

.md pre {
  overflow: auto;
  color: #64908A;
  font-size: 0.9em;
  box-sizing: border-box;
  border: solid 1px;
  padding: 2em;
}

.md a {
  color: #64908A;
}
